button {
    display: block;
    margin: 20px auto;
    background-color: #FFFFFF;
    color: crimson;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid crimson;
}

button:hover {
    color: #FFFFFF;
    background-color: crimson;
}

button:focus {
    outline: 0;
}

div {
    width: 30px;
    height: 30px;
    background-color: darkslategrey;
    margin: 5px;
    float: left;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
}

.circle {
    background-color: #FFFFFF;
    border-radius: 50%;
    color: darkslategray;
    border: 2px solid darkslategray;
}